/* :root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.pointer-link {
  cursor: pointer;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* div, header, main {
  border: 2px solid tomato;
} */

#root {
  height: 100%;
}

#doc-header {
  height: 8.5%;
}

#doc-main {
  height: 91.5%;
}

.nav-link {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  padding: 5px;
  margin: 0 6px 6px;
  background: blue;
  text-decoration: none;
  text-align: center;
  font-size: min(10vw, 15px) ;
  color: white;
}

.active {
  color: red;
}

.pointerCursor {
  cursor: pointer;
}