/* :root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.pointer-link {
  cursor: pointer;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* div, header, main, nav {
  border: 2px solid tomato;
} */

#root {
  height: 100%;
}

#doc-header {
  height: 8%;
}

#doc-main {
  height: 92%;
}

.nav-link {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  padding: 10px;
  margin: 10px 0 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  color: black;
  /* background: blue; */
}

.nav-link-first {
  margin: 10px 0 10px 50px;
}

.nav-link-last {
  float: right;
  margin: 10px 50px 10px 0;
}

.active {
  color: tomato;
}

.pointerCursor {
  cursor: pointer;
}